* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  font-family: 'Mulish', system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: inherit;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

#root {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.embla__container {
  display: flex;
  gap: 16px;
}

@media (max-width: 960px) {
  .embla__container {
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .embla__container {
    gap: 8px;
  }
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
}
